{% extends 'finance/homebase.html' %}
{% load static %}

{% block home_body_block %}

<div>
    {% if messages %}
        {% include 'finance/commonpopup.html' %}
    {% endif %}
</div>

<div class="row">
    <div class="col-lg-4 mt-4">
        <div class="card">
            <div class="card-header text-center">
              <h3 class="cardheader">Partner Information</h3>
            </div>
            {% if error_msg %}
            <div>
                <p class="alert alert-danger" role="alert">{{error_msg}}</p>
            </div>
            {% endif %}
            <div class="card-body">
                <form method="POST" id="form">
                    {% csrf_token %}
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" name="name" id="idName" class="form-control" value="{{partnerdetail.name}}" >
                    <small id="errorName"></small>
                </div> <br>
                <div class="form-group">
                    <label>Initial Amount</label>
                    <input type="number" name="initialAmount" id="idInitialAmount" class="form-control" value="{{partnerdetail.initialAmount}}" >
                    <small id="errorInitialAmount"></small>
                </div><br>
                <div class="form-group">
                    <label>Mobile No </label>
                    <input type="number" name="mobile" id="idMobile" class="form-control" value="{{partnerdetail.mobile}}" >
                    <small id="errorMobile"></small>
                </div><br>
                <div class="form-group">
                    <label>Address</label>
                    <input type="text" name="address" id="idAddress" class="form-control" value="{{partnerdetail.address}}" >
                    <small id="errorAddress"></small>
                </div><br>

                <div class="d-grid gap-2 col-4 mx-auto">
                <button type="submit" class="btn btn-outline-primary ">Submit</button>
                </div>
                </form>
            </div>
          </div>
    </div>

        <!-------Table List-->
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-lg-7 mt-3">
        <div class="row">
            <div class="col-lg-12">
                <form class="d-flex float-end">
                    <input class="form-control me-2" type="search" name="searchName" placeholder="Search" aria-label="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </div>
        </div>
        <hr>
            <table class="table table-hover fw-bold border border-bottom-0 text-dark">
                    <th>Name</th>
                    <th>Initial Amount</th>
                    <th>Mobile No</th>
                    <th>Address</th>
                    <th>Update</th>
                    <th>Delete</th>
                    {% for partnerinfo in partnerinfo%}
                    <tr class="">
                        <td>{{partnerinfo.name}}</td>
                        <td>{{partnerinfo.initialAmount}}</td>
                        <td>{{partnerinfo.mobile}}</td>
                        <td>{{partnerinfo.address}}</td>
                        <td><a href="/partnerupdate/{{partnerinfo.id}}" class="btn btn-success">Update</a> </td>
                        <td><a href="/partnerdelete/{{partnerinfo.id}}" class="btn btn-danger">Delete</a> </td>
                    </tr>
                    {% endfor %}
                  </table>
                {%include 'finance/paginator.html' with page=partnerinfo %}
    </div>
</div>
<br><br><br>

{% endblock %}

{% block javascript_block %}
    <script src="{% static 'js/myjs/partner.js' %}"> </script>
{% endblock%}

